* {
  box-sizing: border-box
}
:root {
  --main-color: #720455;
}
body {
  background-color: #f7f7f7;
  font-family: 'Salsa';
}

.game {
  min-height: 100vh
}
.container {
  margin: auto;
  max-width: 900px
}
.name {
  background-color: var(--main-color);
  color: #fff;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  font-weight: bold
}
.message {
  background-color: #fff;
  padding: 15px;
  margin: 15px 0;
  text-align: center
}
.message span {
  font-weight: bold;
  color: var(--main-color)
}
.message span::before {
  content: "[ "
}
.message span::after {
  content: " ]"
}
.start {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: var(--main-color);
  color: #fff;
  padding: 15px;
  cursor: pointer
}
.the-word {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: var(--main-color);
  user-select: none
}
.input {
  margin: 15px 0;
  width: 100%;
  display: block;
  padding: 15px;
  border: 1px solid var(--main-color);
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  caret-color: var(--main-color);
  font-family: 'Salsa'
}
.input:focus {
  outline: none;
}
.upcoming-words {
  background-color: #fff;
  margin: 15px 0;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.upcoming-words div {
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
  margin: 4px;
  padding: 10px;
  border-radius: 6px;
}
.control {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px;
}
.control span {
  font-weight: bold;
  color: var(--main-color);
}
.finish {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding: 15px;
}
.finish .good {
  color: var(--main-color);
}
.finish .bad {
  color: var(--main-color);
}
